:root{
  --orange--color:#F07E15;
  --black--color:#000000;
  --grey--color:#16161580;
}

/* Mobile-first styles */
.container {
  box-sizing: border-box;
  background: #ffffff;
  width: 390px;
  height: 2121px;
  position: relative;
  overflow: hidden;
}

/* Media query for desktops */
@media (min-width: 1024px) {
  .container {
    box-sizing: border-box;
    background: #ffffff;
    width: 1440px;
    height: 2148px;
    position: relative;
    overflow: hidden;
  }
}

.App-link {
  color: #61dafb;
}
